<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="font-size: small;">
    <ion-item *ngFor="let item of carrito" [routerLink]="['/modelo',item.id]">

      <ion-avatar slot="start">
        <img [src]="item.imagen"/></ion-avatar>
      <ion-label>{{item.nombre}}</ion-label>
      <ion-label>{{item.cantidad}}</ion-label>
      <!-- <ion-label>{{materiales["item.material"].nombre}}</ion-label> -->
      <!-- <ion-label>{{item.getPrecio()}}</ion-label> -->
            
    </ion-item>

    <ion-item>
      <ion-label>Ingrese e-mail de contacto:</ion-label>
      <ion-input inputmode="email" [(ngModel)]="primercorreo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Reingrese e-mail para verificación:</ion-label>
      <ion-input inputmode="email" [(ngModel)]="segundocorreo"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-button (click)="confirmarPedido( primercorreo,segundocorreo)" expand="block" color="dark">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        Agregar pedido
      </ion-button>

    </ion-item> -->

  </ion-list>
</ion-content>