<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{modelo.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <div class="contenedor">
      <ion-img [src]="modelo.imagen"></ion-img>
    </div>
  </ion-item>
<!--   <ion-item>
    <ion-label>Material</ion-label>
    <ion-select  *ngFor="let item of materiales">
      <ion-select-option modelo.material=item>{{item.nombre}}</ion-select-option>
    </ion-select>
  </ion-item> -->
<!-- 
  <ion-item >
    <ion-text color="dark">
      <p>${{getPrecio()}}</p>
      <p>${{modelo.precio * modelo.material.precio}} 
    </ion-text>
  </ion-item> -->
  
 <!--  <ion-button (click)="agregarCarrito()" expand="block" >
    <ion-icon slot="start" name="cart"></ion-icon>
    Agregar al carrito
  </ion-button> -->

</ion-content>
