<ion-header>
  <ion-toolbar>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Diseño</ion-label>
    </ion-item>
    <ion-item>
      <ion-slides pager>
        <ion-slide>
          <p> Imagen 1</p>
        </ion-slide>
        <ion-slide>
          <p> Imagen 2</p>
        </ion-slide>
        <ion-slide>
          <p> Imagen 3</p>
        </ion-slide>
      </ion-slides>  
    </ion-item>  

    <ion-item>
      <ion-label>Impresión</ion-label>
    </ion-item>
    <ion-item>
      <ion-slides pager>
        <ion-slide>
          <p> Imagen 1</p>
        </ion-slide>
        <ion-slide>
          <p> Imagen 2</p>
        </ion-slide>
        <ion-slide>
          <p> Imagen 3</p>
        </ion-slide>
      </ion-slides>  
    </ion-item>  

    <ion-item>
      <ion-label> Prototipado</ion-label>
    </ion-item>
    <ion-item>
      <ion-slides pager>
        <ion-slide>
          <p> Imagen 1</p>
        </ion-slide>
        <ion-slide>
          <p> Imagen 2</p>
        </ion-slide>
        <ion-slide>
          <p> Imagen 3</p>
        </ion-slide>
      </ion-slides>  
    </ion-item>  


  </ion-list>
</ion-content>
