<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-img [src]="'https://i.ibb.co/qkBQzRT/vesta-logo.png'" style="width: 40%; display: block;
      margin: 0 auto;"></ion-img>
    </ion-item>
    <ion-item>
      <p> Empresa dedicada a la impresión de piezas 3d en tecnología FDM que ofrece una gran variedad de materiales, calidades y colores bla bla bla</p>
    </ion-item>
    <ion-item>
      <ion-label>Contacto:</ion-label>
      <p> vestadip3d@gmail.com</p>
    </ion-item>
    <ion-item>
      <ion-label>Ubicación:</ion-label>
      <p> Oro Verde, Entre Ríos, Argentina</p>
    </ion-item>
    
  </ion-list>

</ion-content>
