<ion-header>
  <ion-toolbar>
    <ion-title>Sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <p>
      Somos una empresa dedicada a la impresión de piezas 3d en tecnología FDM que ofrece una gran variedad de materiales, calidades y colores bla bla bla
    </p>
    <ion-title>
      <h1> Misión</h1>
    </ion-title>
    <h1> Visión</h1>
    <h1> Valores</h1>
  </ion-item> -->
  <ion-list>
    <ion-item>
      <p> Empresa dedicada a la impresión de piezas 3d en tecnología FDM que ofrece una gran variedad de materiales, calidades y colores bla bla bla</p>
    </ion-item>
    <ion-item>
      <ion-label>Contacto:</ion-label>
      <p> vestadip3d@gmail.com</p>
    </ion-item>
    <ion-item>
      <ion-label>Ubicación:</ion-label>
      <p> Oro Verde, Entre Ríos, Argentina</p>
    </ion-item>
    
  </ion-list>

</ion-content>
