<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vesta 3D - diseño, impresión y prototipado
    </ion-title>
    <p> Envíos a todo el país</p>
    <ion-avatar slot="end">
      <ion-badge class="cantidad pedido">pedido</ion-badge>

    </ion-avatar>
    <ion-button slot="end" shape="round" color="medium">
      <ion-icon name="bag-handle-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <ion-slides pager>
    <ion-slide class="slice1" >
     <!-- <ion-img [src]="'https://i.ibb.co/k8XSnp8/saturn-animation.gif'"></ion-img> -->
    </ion-slide>
    <ion-slide class="slice2">
      <h1></h1>
    </ion-slide>
    <ion-slide class="slice3">
      <h1></h1>
    </ion-slide>
    <ion-slide>

      <ion-list lines="inset" >
        <ion-item>
          <ion-img [src]="'https://i.ibb.co/qkBQzRT/vesta-logo.png'" style="width: 40%; display: block;
          margin: 0 auto;"></ion-img>
        </ion-item>
        <ion-item [routerLink]="['/catalogo']">
          <ion-label >
            <h1>Catálogo</h1>
          </ion-label>
        </ion-item>
        <ion-item [routerLink]="['/servicios']">
          <ion-label>
            <h1>Servicios</h1>
          </ion-label>
        </ion-item>
        <ion-item [routerLink]="['/informacion']">
          <ion-label>
            <h1>Sobre nosotros</h1>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-slide>

  </ion-slides>
  </ion-content>