#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-toolbar {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

ion-title {
  color: teal;
}

.slice1 {
  background: url("https://i.ibb.co/F7qfgcn/OLYMPUS-DIGITAL-CAMERA.jpg  ");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.slice2 {
  background: url("https://i.ibb.co/k8XSnp8/saturn-animation.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.slice3 {
  background: url("https://i.ibb.co/vjKCvKR/OLYMPUS-DIGITAL-CAMERA.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.slice4 {
  background: url("https://i.ibb.co/k8XSnp8/saturn-animation.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

ion-slides {
  //ion-icon { background-color: teal;}

  height: 100%;

  // width: 100%;
  // text-align: center;
}
// ion-item {
//   // height: 100%;

//   //box-shadow: red;

// }

ion-label {
  color: darkslategray;
}
ion-img {
  height: 100%;
  background-size: cover;
}
