#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-toolbar{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  
}

ion-title {
  color: teal;
}

//ion-icon { background-color: teal;}

ion-slides {
  background-repeat: no-repeat;
  background-size: contain;
  
  // position: relative;
  height: 100%;
  // width: 100%;
  // text-align: center;
  
}
ion-item {
  height: 100%;
  
  //box-shadow: red; 
 
  
}

ion-label {
 color: darkslategray;
 
}
ion-img {
height: 100%;
 background-size: cover;;
}